.text-center{
  text-align: center;
}
.page-center{
  display: flex;
  justify-content: center;
}
.d-hidden{
  display: none;
}
.mt-10{
  margin-top: 10px;
}
.box{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  color: white; 
  font-size: larger;
}
.color-g{
  background-color: green;
}
.color-r{
  background-color: red;
}
