<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dojo Survey/result</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/submitted.css' %}">
</head>
<body>
  <h3>Submitted Info</h3>
  <table>
    <tr>
      <td>Name:</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>Dojo Location:</td>
      <td>{{location}}</td>
    </tr>
    <tr>
      <td>Favorite Language:</td>
      <td>{{language}}</td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td>{{comment}}</td>
    </tr>
  </table>
</body>
</html>