<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkboard Assignment</title>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <script>
    table tr td{
      width: 80px;
      height: 80px;
    }
    .color1{
      background-color: red;
      background-color: {{color1}};
    }
    .color2{
      background-color: black;
      background-color: {{color2}};
    }
  </script>
</head>
<body>
  <table>
    {% for i in range(height) %}
    <tr>
      {% for j in range(width) %}
      <td class='color{{ (i+j)%2+1}}'></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>