.container{
  width: 600px;
  margin: auto;
}

h3{
  border: 2px solid black;
  width: 250px;
  text-align: center;
  font-size: 16pt;
  align-items: center;
  margin: 25px auto;
}
.date{
  width: 500px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  margin: auto;
}
.date h2{
  font-size: 30pt;
  text-align: center;
}